QWidget {
  background-color: #fff;
}
QLabel{
      color: #464d55;
      font-weight: 600;
}
QLineEdit{
    border: 1px solid #e0e4e7;
    border-radius: 8px;
    min-height: 20px;
    padding: 5px 15px;
}
QLineEdit:focus  {
  border: 1px solid #d0e3ff;
}
QLineEdit::placeholder {
  color: #767e89;
}
QPushButton{
      background-color: cornflowerblue;
      color: white;
      font-weight: 200;
      border-radius: 8px;
      border: 1px solid white;
      padding: 5px 15px;
      outline: 0px;
}
QPushButton:hover,
QPushButton:focus {
  background-color: #0b5ed7;
}

QComboBox{
    border: 1px solid #e0e4e7;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 1px 18px 1px 3px;
    min-height: 20px;
}
QComboBox:hover,focus{
    background: cornflowerblue;
    color: white;
}